# This file will be installed as vendor/etc/init/hw/init.{ro.hardware}.rc

import /vendor/etc/init/hw/init.qcom.rc

import /vendor/etc/init/hw/init.lge.usb.rc
import /vendor/etc/init/hw/init.lge.usb.configfs.rc
import /vendor/etc/init/hw/init.lge.power.rc
import /vendor/etc/init/hw/init.lge.sensors.rc
import /vendor/etc/init/hw/init.lge.fingerprints.rc

import /vendor/etc/init/hw/init.sdm845.rc

import /vendor/etc/init/hw/init.${ro.hardware}_vendor.rc

on boot
    chown system system /sys/class/lge_mme_bus/mme_bus_ctrl/boost
    chmod 664 /sys/class/lge_mme_bus/mme_bus_ctrl/boost
    chown system system /sys/class/lge_mme/mme_ctrl/mme_command
    chmod 664 /sys/class/lge_mme/mme_ctrl/mme_command
    chown system system /sys/class/lge_mme/mme_ctrl/hw_test_value
    chmod 664 /sys/class/lge_mme/mme_ctrl/hw_test_value

    chown system system /sys/class/panel/freeze_state_hal
    chmod 664 /sys/class/panel/freeze_state_hal

    chown system system /sys/class/backlight/panel0-backlight/brightness
    chmod 664 /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness
    chmod 664 /sys/class/backlight/panel0-backlight/max_brightness
    chown system system /sys/class/backlight/panel0-backlight-ex/brightness
    chmod 664 /sys/class/backlight/panel0-backlight-ex/brightness
    chown system system /sys/class/backlight/panel0-backlight-ex/max_brightness
    chmod 664 /sys/class/backlight/panel0-backlight-ex/max_brightness
    chown system system /sys/class/panel/brightness/hl_mode
    chmod 664 /sys/class/panel/brightness/hl_mode

    chown system system /sys/class/panel/aod/area
    chmod 664 /sys/class/panel/aod/area
    chown system system /sys/class/panel/aod/power_mode
    chmod 664 /sys/class/panel/aod/power_mode

    chown system system /sys/class/panel/img_tune/hdr_mode
    chmod 664 /sys/class/panel/img_tune/hdr_mode
    chown system system /sys/class/panel/img_tune/image_enhance_set
    chmod 664 /sys/class/panel/img_tune/image_enhance_set
    chown system system /sys/class/panel/img_tune/mplus_mode
    chmod 664 /sys/class/panel/img_tune/mplus_mode
    chown system system /sys/class/panel/img_tune/mplus_hd
    chmod 664 /sys/class/panel/img_tune/mplus_hd
    chown system system /sys/class/panel/img_tune/mplus_max
    chmod 664 /sys/class/panel/img_tune/mplus_max
    chown system system /sys/class/panel/img_tune/screen_tune
    chmod 664 /sys/class/panel/img_tune/screen_tune
    chown system system /sys/class/panel/img_tune/sharpness
    chmod 664 /sys/class/panel/img_tune/sharpness
    chown system system /sys/class/panel/img_tune/vr_low_persist
    chmod 664 /sys/class/panel/img_tune/vr_low_persist
    chown system system /sys/class/panel/img_tune/rgb_tune
    chmod 664 /sys/class/panel/img_tune/rgb_tune
    chown system system /sys/class/panel/img_tune/screen_mode
    chmod 664 /sys/class/panel/img_tune/screen_mode

    chown system system /sys/class/smartcover/smartcover/state
    chown system system /sys/class/smartcover/nfccover/state

    chown system system /sys/class/panel/factory/mfts_auto_touch_test_mode
    chmod 664 /sys/class/panel/factory/mfts_auto_touch_test_mode

service immvibed /vendor/bin/immvibed -p 99 -u 1000
    class late_start
    user root
    group root
    ioprio rt 4
